@page "/login"

@using TodoListBlazorWasm.Models.Requests;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>

        <EditForm Model="_loginRequest">
            <DataAnnotationsValidator />
            @* <ValidationSummary /> *@

            <div class="mb-3">
                <label for="username">Username</label>
                <InputText id="username" class="form-control" @bind-Value="_loginRequest.UserName" />
                @* <ValidationMessage For="()=>_loginRequest.UserName" /> *@
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <InputText id="password" class="form-control" @bind-Value="_loginRequest.Password" />
                @* <ValidationMessage For="()=>_loginRequest.Password" /> *@
            </div>

            <button type="submit" class="btn btn-success">Login</button>
        </EditForm>
    </div>
</div>

@code {
    private LoginRequest _loginRequest = new LoginRequest();
}
