@page "/tasks"

@using Microsoft.AspNetCore.Authorization
@using TodoListBlazorWasm.Components
@using TodoListBlazorWasm.Services
@using YANLib

@inject IConfiguration Configuration
@inject ITaskService TaskService

@attribute [Authorize]

<PageTitle>Task list</PageTitle>
<h1>Task list</h1>

@if (Tasks.IsEmptyOrNull())
{
    <LoadingIndicator />
}
else
{
    <div class="text-center mt-4">
        <TaskSearch OnSearch="SearchTask" />
    </div>

    <table class="table align-middle text-center mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Assignee</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th />
            </tr>
        </thead>

        <tbody>
            @foreach (var task in Tasks)
            {
                <tr>
                    <td>@task.Name</td>

                    <td>
                        <PriorityLabel Priority="task.Priority" />
                    </td>

                    <td><a style="cursor:pointer" @onclick="() => OpenAssignPopup(task.Id)">@(task.Assignee is null ? "N/A" : $"{task.Assignee.LastName} {task.Assignee.FirstName}")</a></td>

                    <td>
                        <StatusLabel Status="task.Status" />
                    </td>

                    <td>@task.CreatedAt.ToString(Configuration["DateFormat"])</td>
                    <td>@(task.UpdatedAt.HasValue ? task.UpdatedAt.Value.ToString(Configuration["DateFormat"]) : "N/A")</td>

                    <td>
                        <a href="/task-edit/@task.Id" class="btn btn-warning">Edit</a>
                        <a href="/task-detail/@task.Id" class="btn btn-secondary">Detail</a>
                        <button class="btn btn-danger" @onclick="() => OnDeleteTask(task.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <Paginnation MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Paginnation>
        </tfoot>
    </table>

    <Confirmation ConfirmationMessage="Are you sure to delete?" ConfirmationTitle="Delete Task" @ref="DeleteConfirmation" ConfirmationChanged="OnConfirmDeleteTask" />
    <AssignTask @ref="AssignTaskDialog" CloseEventCallback="AssignTaskSuccess"></AssignTask>
}
