@using Blazored.Toast.Configuration;
@using Microsoft.AspNetCore.Components.Authorization;
@using static Blazored.Toast.Configuration.IconType;
@using static Blazored.Toast.Configuration.ToastPosition;

@inherits LayoutComponentBase

<BlazoredToasts Position="BottomRight"
                Timeout="5"
                ShowProgressBar="true"
                IconType="FontAwesome"
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-check"
                WarningIcon="fa fa-exclamation"
                ErrorIcon="fa fa-bug" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity!.Name
                    <a href="/logout">Logout</a>
                </Authorized>

                <NotAuthorized>
                    <a href="/login" class="ms-md-auto">Login</a>
                </NotAuthorized>
            </AuthorizeView>

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">@Body</article>
    </main>
</div>
